.list-group-item img {
  height: 300px;
  width: 200px;
}

.list-group-item{
  color: white;
  background-color: #2e3440;
}

.bookmark_comment .bookmark_movie_id {
  background-color: #2e3440;
  color: white;
}

.list-group p {
  color: white;
}
